@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

.thumbnail {
  img {
    max-width: 200px
  }
}

.image-preview {
  img {
    max-width: 400px;
    width: 100%;
  }
}
