$serif: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$sans-serif: 'Open Sans', sans-serif;

$black: rgb(50, 50, 50);
$translucent-black: rgba(0, 0, 0, 0.5);
$translucent-white: rgba(255, 255, 255, 0.5);
$white: rgb(255, 255, 255);
$off-white: rgb(244, 244, 244);
$green: rgb(133, 190, 67);
$red: rgb(190, 67, 67);
$dark-blue: rgb(3, 77, 95);
$medium-blue: rgb(20, 132, 167);
$light-blue: rgb(30, 163, 203);
$dark-gray: rgb(80, 103, 101);
$medium-gray: rgb(166, 174, 174);
$light-gray: rgb(203, 210, 212);
